<footer class="footer">
  <div class="container">
    <ul class="footer_social">
      <li>
        <a href="https://github.com/cvcastano" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/carolina-castano/" target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="https://twitter.com/cvcastano" target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>
      </li>
      <li>
        <a href="https://www.instagram.com/cvcastano" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
      </li>
      <li>
        <a href="mailto:carocastanocastillo@gmail.com"
          ><i class="fas fa-envelope"></i
        ></a>
      </li>
    </ul>
    <p class="text">made by &copy;aro</p>
  </div>
</footer>
<a class="arrow-up nav_link" href="#home">
  <i class="fas fa-arrow-circle-up"></i>
</a>
