<section class="projects id" id="projects">
  <div class="container">
    <h2 class="projects_text">Projects</h2>
    <div class="projects_container">
      <div class="project">
        <p>Look Like Loop</p>
        <h3>Create your own business card</h3>
        <img class="img_mobile" src="" alt="" />
        <img class="img_mobile" src="" alt="" />
        <div class="project_links">
          <a
            class="project_link"
            href="https://awesome-profile-cards-lolies.herokuapp.com/#/"
            target="_blank"
            >app</a
          >
          <a
            class="project_link"
            href="https://github.com/cvcastano/look-like-loop-cards"
            target="_blank"
            ><i class="fab fa-git-square"></i> repository</a
          >
        </div>
      </div>
      <div class="project">
        <p>Rick and Morty</p>
        <h3>Find and filter characters from the series</h3>
        <img class="img_mobile" src="" alt="" />
        <img class="img_mobile" src="" alt="" />
        <div class="project_links">
          <a
            class="project_link"
            href="https://cvcastano.github.io/rick-and-morty-character-finder/"
            target="_blank"
            >app</a
          >
          <a
            class="project_link"
            href="https://github.com/cvcastano/rick-and-morty-character-finder"
            target="_blank"
            ><i class="fab fa-git-square"></i> repository</a
          >
        </div>
      </div>
      <div class="project">
        <p>BEcodeTIFUL</p>
        <h3>My first group project</h3>
        <img class="img_mobile" src="" alt="" />
        <img class="img_mobile" src="" alt="" />
        <div class="project_links">
          <a href="https://cvcastano.github.io/BEcodeTIFUL/" target="_blank"
            >web</a
          >
          <a href="https://github.com/cvcastano/BEcodeTIFUL" target="_blank"
            ><i class="fab fa-git-square"></i> repository</a
          >
        </div>
      </div>
      <div class="project">
        <p>Anonymous Proxy</p>
        <h3>My first web</h3>
        <img class="img_mobile" src="" alt="" />
        <img class="img_mobile" src="" alt="" />
        <div class="project_links">
          <a href="https://cvcastano.github.io/anonymous-proxy/" target="_blank"
            >web</a
          >
          <a href="https://github.com/cvcastano/anonymous-proxy" target="_blank"
            ><i class="fab fa-git-square"></i> repository</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
