<section class="stack id" id="stack">
  <div class="container">
    <h2 class="stack_title">Stack</h2>
    <div class="stack_items">
      <img class="stack_item" src="./assets/images/html.png" alt="Html icon" />
      <img class="stack_item" src="./assets/images/css.png" alt="Css icon" />
      <img
        class="stack_item"
        src="./assets/images/js.png"
        alt="JavaScript icon"
      />
      <img class="stack_item" src="./assets/images/sass.png" alt="Sass icon" />
      <img
        class="stack_item"
        src="./assets/images/react.png"
        alt="React icon"
      />
      <img class="stack_item" src="./assets/images/git.png" alt="Git icon" />
      <img
        class="stack_item"
        src="./assets/images/github.png"
        alt="GitHub icon"
      />
      <img class="stack_item" src="./assets/images/gulp.png" alt="Gulp icon" />
      <img class="stack_item" src="./assets/images/node.png" alt="Node icon" />
      <img class="stack_item" src="./assets/images/sql.png" alt="SQL icon" />
      <img
        class="stack_item"
        src="./assets/images/vscode.png"
        alt="VSCode icon"
      />
      <img
        class="stack_item"
        src="./assets/images/wordpress.png"
        alt="WordPress icon"
      />
      <img
        class="stack_item"
        src="./assets/images/photoshop.png"
        alt="Photoshop icon"
      />
    </div>
  </div>
</section>
