<section class="stack id" id="stack">
  <div class="container">
    <h2 class="stack_title">Stack</h2>
    <div class="stack_items">
      <img class="stack_item" src="./assets/images/html.png" alt="" />
      <img class="stack_item" src="./assets/images/css.png" alt="" />
      <img class="stack_item" src="./assets/images/js.png" alt="" />
      <img class="stack_item" src="./assets/images/sass.png" alt="" />
      <img class="stack_item" src="./assets/images/react.png" alt="" />
      <img class="stack_item" src="./assets/images/git.png" alt="" />
      <img class="stack_item" src="./assets/images/github.png" alt="" />
      <img class="stack_item" src="./assets/images/gulp.png" alt="" />
      <img class="stack_item" src="./assets/images/node.png" alt="" />
      <img class="stack_item" src="./assets/images/sql.png" alt="" />
      <img class="stack_item" src="./assets/images/vscode.png" alt="" />
      <img class="stack_item" src="./assets/images/wordpress.png" alt="" />
      <img class="stack_item" src="./assets/images/photoshop.png" alt="" />
    </div>
  </div>
</section>
