.about {
  background-color: $dark;

  &_container {
    width: fit-content;
    padding: 0.8rem;
    background-color: $white;   
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom: $neon 0.5rem solid;
  }
}
