.contact {
  background-color: $white;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 2rem 0;
}
.contact_link {
  color: darkgray;
  text-decoration: underline wavy 2px $neon;
  &:hover {
    background-color: blanchedalmond;
    color: $neon;
    text-decoration: none;
  }
}
