.page {
  font-family: $fontlight;
}
.container {
  margin: 0 20px;
  // background-color: pink;
}
.neon {
  color: $neon;
}
.id {
  scroll-margin-top: 80px;
}
.arrow-up {
  font-size: 1.5rem;
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  color: $neon;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
}
.show-up {
  visibility: visible;
  z-index: 20;
}
.nav_link {
  color: $white;
  padding-right: 1rem;
}
.fa-arrow-circle-up {
  transition: all 0.4s ease-in-out;
  color: $neon;
  &:hover {
    transform: scale(0.9);
  }
}

@keyframes bounce {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translate(0);
  }
}

