.projects {
  background-color: $dark;
  color: $white;
  padding: 1rem 0;
  &_container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  &_text {
    text-shadow: 1px 1px 2px $neon;
    margin-bottom: 1rem;
  }
  p {
    color: $neon;
  }
}
.project {
  padding: 1rem;
  margin-bottom: 1rem;
  font-family: $fontbold;
  border: $neon 1px solid;
  &_links {
    display: flex;
    justify-content: space-between;
    a:hover {
      color: $neon;
      font-size: small;
    }
  }
}

// .img_mobile {
//     height: 8rem;
// }
